body{
        background-color:#EEE2DC;
        text-align: center;
}
li{
        display:inline-block;
        position: relative;
        color:#EDC7B7;
        font-family:sl sans-serif;
        font-size:40px;
        cursor:pointer;
        transition:0.4s all ease;
        padding:15px;
}
li:hover{
        color:#AC3B61;
        transition:0.4s all ease;
}
li:after{
        content:'' ;
        position:absolute;
        width:100%;
        transform:scaleX(0);
        height:2px;
        bottom: -5px;
        left: 0;
        background-color:lightpink;
        transform-origin:bottom right;
        transition: transform 0.5s ease-out;
}
li:hover::after{
        transform:scaleX(1);
        transform-origin: bottom-left;
}